
.tile-primary, .tile-contents, .tile-title, .material-icons {
  text-shadow: none !important;
}

.dashBack {
display: none;
}
//.dashName {
//display: none;
//}

/* Works with Chrome, Firefox & Edge beta*/
/*"row-start / column-start / row-end / column-end"*/

/*HSM Mode*/
div[style*="1 / 1 / 3 / 3"] .tile-title {
	visibility: visible;
		font-size: 20px;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Bins*/
div[style*="1 / 3 / 3 / 5"] .tile-title {
	visibility: hidden;
}

/*Bins*/
div[style*="1 / 3 / 3 / 5"] .tile-title:after {
	visibility: visible;
		font-size: 16px;
		content: "Which bins this week?";
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Lamps*/
div[style*="1 / 5 / 2 / 6"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Big Light*/
div[style*="1 / 6 / 2 / 7"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Dining Light*/
div[style*="1 / 7 / 2 / 8"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Kitchen Light*/
div[style*="1 / 8 / 2 / 9"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Cabinets*/
div[style*="1 / 9 / 2 / 10"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Cabinets*/
div[style*="1 / 9 / 2 / 10"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Goodnight*/
div[style*="1 / 10 / 2 / 11"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Row 2*/

/*Modes*/
div[style*="3 / 1 / 4 / 3"] .tile-title {
	visibility: visible;
		font-size: 20px;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Porch*/
div[style*="2 / 5 / 3 / 6"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Fish Tank Light*/
div[style*="2 / 6 / 3 / 7"] .tile-title {
	visibility: hidden;
}
/*Fish Tank Light*/
div[style*="2 / 6 / 3 / 7"] .tile-title:after {
	visibility: visible;
		content: 'Aquarium Light';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Blank*/
div[style*="2 / 7 / 3 / 8"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Bubble*/
div[style*="2 / 8 / 3 / 9"] .tile-title {
	visibility: hidden;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}
/*Fish Tank Light*/
div[style*="2 / 8 / 3 / 9"] .tile-title:after {
	visibility: visible;
		content: 'Aquarium Bubbles';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Fish Tank Temp*/
div[style*="2 / 7 / 3 / 8"] .tile-title {
	visibility: hidden;

}

/*Fish Tank Temp*/
div[style*="2 / 7 / 3 / 8"] .tile-title:after {
	visibility: visible;
		content: 'Aquarium Temperature';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Hot Water*/
div[style*="2 / 10 / 3 / 11"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*3rd Row*/

/*System Time and Date*/
div[style*="5 / 1 / 6 / 3"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Dishwasher*/
div[style*="3 / 3 / 4 / 5"] .tile-title {
	visibility: visible;
		font-size: 20px;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*TV*/
div[style*="3 / 5 / 4 / 6"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Netflix*/
div[style*="3 / 6 / 4 / 7"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Plex*/
div[style*="3 / 7 / 4 / 8"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Fire TV*/
div[style*="3 / 8 / 4 / 9"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Xbox*/
div[style*="3 / 9 / 4 / 10"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*"row-start / column-start / row-end / column-end"*/
/*TV*/
div[style*="4 / 5 / 5 / 6"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*TV Lights*/
div[style*="4 / 6 / 5 / 7"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*row 5*/

/*Porch*/
div[style*="5 / 5 / 6 / 6"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Lounge Left*/
div[style*="5 / 6 / 6 / 7"] .tile-title {
	visibility: hidden;
}
/*Lounge Left*/
div[style*="5 / 6 / 6 / 7"] .tile-title:after {
	visibility: visible;
		content: 'Lounge Left';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Lounge Right*/
div[style*="5 / 7 / 6 / 8"] .tile-title {
	visibility: hidden;
}
/*Lounge Right*/
div[style*="5 / 7 / 6 / 8"] .tile-title:after {
	visibility: visible;
		content: 'Lounge Right';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Dining Rm Left*/
div[style*="5 / 8 / 6 / 9"] .tile-title {
	visibility: hidden;
}
/*Dining Rm Left*/
div[style*="5 / 8 / 6 / 9"] .tile-title:after {
	visibility: visible;
		content: 'Dining Left';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Dining Rm Right'*/
div[style*="5 / 9 / 6 / 10"] .tile-title {
	visibility: hidden;
}
/*Dining Rm Right'*/
div[style*="5 / 9 / 6 / 10"] .tile-title:after {
	visibility: visible;
		content: 'Dining Right';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Dash Link*/
div[style*="5 / 10 / 6 / 11"] .tile-title {
	visibility: hidden;
}

/*Row 6*/

/*Speaker*/
div[style*="6 / 1 / 7 / 3"] .tile-title {
	visibility: hidden;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}
/*Back Door*/
div[style*="6 / 1 / 7 / 3"] .tile-title:after {
	visibility: visible;
		font-size: 14px;
		content: "Proxy Speaker";
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Back Door*/
div[style*="6 / 5 / 7 / 6"] .tile-title {
	visibility: visible;
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Kitchen Left*/
div[style*="6 / 6 / 7 / 7"] .tile-title {
	visibility: hidden;
}
/*Kitchen Left*/
div[style*="6 / 6 / 7 / 7"] .tile-title:after {
	visibility: visible;
		content: 'Kitchen Left';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Kitchen Right*/
div[style*="6 / 7 / 7 / 8"] .tile-title {
	visibility: hidden;
}
/*Kitchen Right*/
div[style*="6 / 7 / 7 / 8"] .tile-title:after {
	visibility: visible;
		content: 'Kitchen Right';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Toilet Window*/
div[style*="6 / 8 / 7 / 9"] .tile-title {
	visibility: hidden;
}
/*Toilet Window*/
div[style*="6 / 8 / 7 / 9"] .tile-title:after {
	visibility: visible;
		content: 'Toilet';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Utility Window*/
div[style*="6 / 9 / 7 / 10"] .tile-title {
	visibility: hidden;
}
/*Utility Window*/
div[style*="6 / 9 / 7 / 10"] .tile-title:after {
	visibility: visible;
		content: 'Utility';
        color: #FFFFFF;
        text-decoration: overline solid rgb(255, 255, 255);
}

/*Dash Link*/
div[style*="6 / 10 / 7 / 11"] .tile-title {
	visibility: hidden;
}
